<!DOCTYPE html>
<html lang="en">

<head>
    <title>list of customers</title>
    <% include ./partial/head %>
</head>

<body>
    <% include ./partial/header %>
    <br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">full name</th>
                <th scope="col">phone number</th>
                <th scope="col">is Gold</th>
                <th scope="col">details</th>
            </tr>
        </thead>
        <tbody>
            <% counter = 1 %>
            <% customers.forEach(customer => { %>
            <tr>
                <td><%= counter++ %></td>
                <td><%=customer.name%></td>
                <td><%=customer.phone%></td>
                <td><% if(customer.isGold === 'true'){%>
                    <img src="/public/images/rightIcon.png" width="25px" height="25px">
                    <%} else { %>
                    <img src="/public/images/wrongIcon.png" width="25px" height="25px">
                    <% } %>
                </td>
                <td>
                   <a href="/api/customer/<%= customer._id %>" class="btn btn-primary">details</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
 <% include ./partial/footer %>
</body>

</html>