<!doctype html>
<html>

<head>
<% include ./partial/head %>
</head>

<body>
  <% include ./partial/header%>
  <main role="main" class="container">
<a href="/api/customer" class="btn btn-primary">Show customers</a>
<a href="/api/customer/addCustomer" class="btn btn-primary">Add customer</a>
  </main>
<% include ./partial/footer%>
</body>

</html>